#busqueda {
    #encabezado {
        background: white;
        .content {
            .title {
                color: $secondary;
                text-align: center;
            }
        }
        .filtros-orden {
            padding: 1rem 0;
            background: $primary;
            .content {
                display: flex;
                justify-content: space-between;
                .order-by {
                    display: flex;
                    align-items: center;
                    #order-form {
                        margin-left: 1.5rem;
                        select {
                            padding: 0.25rem 0.5rem;
                        }
                    }
                }
            }
        }
    }

    #busqueda-cuadro {
        margin-bottom: 5rem;
    }
}