#futureplace {
    padding: 6rem 0;
    background: white;
    .content {
        p {
            max-width: 720px;
            margin-bottom: 2rem;
            text-align: justify;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .imagen {
            img {
                display: block;
                margin-left: auto;
            }
        }
    }
}

#tus-aliados {
    background: white;
    .content {
        > .title,
        > div > div .title {
            max-width: 550px;
            margin: 0 auto 5rem auto;
            color: $secondary;
            text-align: center;
        }
        .ofrecemos {
            max-width: 280px;
            margin: 0 auto;
            text-align: center;
            img {
                max-width: 75px;
                margin-bottom: 2rem;
            }
            .title {
                margin-bottom: 2rem;
            }
            p {
                margin-bottom: 0;
            }
        }
        .divider {
            margin-top: 5rem;
            background: $secondary;
        }
    }
}

#como-trabajamos {
    padding: 8rem 0;
    background: white;
    .content {
        > .title, 
        > div > div .title,
        .subtitle {
            color: $secondary;
            text-align: center;
        }
        .title {
            margin-bottom: 2rem;
        }
        .subtitle {
            max-width: 470px;
            margin: 0 auto 3rem auto;
            font-size: 1.25rem;
        }
        .paso {
            max-width: 290px;
            margin: 0 auto;
            text-align: center;
            img {
                max-width: 85px;
                margin-bottom: 2rem;
            }
            .title {
                margin-bottom: 2rem;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
}