$primary: #232f3b;
$secondary: #45b7ad;
$extra: #d7d9db;
$extra-secondary: #f2f2f3;
$other: #7b8289;
$other-extra: #5bd2ee;

$gradient: linear-gradient(#5bd2ee, #45ab95);

$text: $primary;

$light: 200;
$semi-bold: 600;
$bold: 700;