<!-- header -->
<header class="fixed-top">
    <div class="main-nav-bar">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-11 col-xl-10">
                    <div class="nav-bar">
                        <div class="brand">
                            <a href="/">
                                <img src="~@/assets/img/logo/futureplace-logo.svg" class="img-fluid" alt="Futureplace logo">
                            </a>
                        </div>

                        <nav class="nav">

                            <button class="menu-button d-block d-md-none">
                                <img src="~@/assets/img/ui/icon-menu.svg" class="open visible" alt="">
                                <img src="~@/assets/img/ui/icon-menu-close.svg" class="close" alt="">
                            </button>

                            <div class="nav-menu">
                                <ul>
                                    <li>
                                        <a href="/" class="scroll-link">Home</a>
                                    </li>
                                    <li>
                                        <a href="/nosotros">Nosotros</a>
                                    </li>
                                    <li>
                                        <a href="/servicios">Servicios</a>
                                    </li>
                                    <li>
                                        <a href="/contacto" class="scroll-link">Contacto</a>
                                    </li>
                                    <li class="phone">
                                        <a href="tel:5541240311">
                                            <img src="~@/assets/img/ui/icon-phone.svg" class="img-fluid" alt="">
                                            55 4124 0311
                                        </a>
                                    </li>
                                    <li class="social">
                                        <a href="https://www.facebook.com/Futurplace-101232521942192" target="_blank">
                                            <img src="~@/assets/img/ui/icon-facebook.svg" class="img-fluid" alt="">
                                        </a>
                                        <a href="https://www.instagram.com/futurplace/" target="_blank">
                                            <img src="~@/assets/img/ui/icon-instagram.svg" class="img-fluid" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /header -->